.games {
  margin-top: 111px;

  @media (max-width: 768px) {
    margin-top: 71px;
  }

  @media (max-width: 376px) {
    margin-bottom: 77px;
  }

  &__container {
    padding: 0 0 0 55px;
    max-width: 1615px;
    @media (max-width: 1580px) {
      padding: 0 15px;
    }
    @media (max-width: 376px) {
      padding: 0;
    }
  }
  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1580px) {
      flex-direction: column-reverse;
    }
    @media (max-width: 768px) {
      align-items: center;
    }
  }

  &__content-title {
    max-width: 729px;
    padding-left: 55px;
    padding-bottom: 25px;
    padding-top: 87px;
    position: relative;
    @media (max-width: 768px) {
      max-width: 303px;
      padding-top: 0;
    }

    @media (max-width: 376px) {
      padding-left: 30px;
      padding-bottom: 9px;
    }

    h3 {
      font-family: ChakraPetch;
      font-size: 85px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: -1.7px;

      @media (max-width: 768px) {
        font-size: 30px;
      }
      @media (max-width: 376px) {
        letter-spacing: 0;
      }
    }

    svg {
      position: absolute;
      right: -8px;
      top: 87px;

      @media (max-width: 768px) {
        right: -7px;
        top: -15px;
        width: 39px;
      }
    }
  }

  &__content-left {
    max-width: 820px;
    position: relative;

    @media (max-width: 1580px) {
      margin: 0 auto;
    }

    @media (max-width: 768px) {
      max-width: 370px;
    }

    img {
      width: 804px;
      height: 788px;
      @media (max-width: 768px) {
        width: 100%;
        height: 364px;
      }
    }
  }

  &__bluer {
    position: absolute;
    left: -1187px;
    top: -181px;
    z-index: -1;

    @media (max-width: 768px) {
      left: 273px;
      top: 10px;
    }

    svg {
      @media (max-width: 768px) {
        width: 180px;
      }
    }
  }

  &__content-text {
    max-width: 737px;
    padding-left: 63px;
    padding-bottom: 105px;
    position: relative;
    display: inline-block;
    @media (max-width: 768px) {
      max-width: 307px;
      padding-left: 9px;
      text-align: center;
      padding-bottom: 28px;
    }
    p {
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.75px;

      @media(max-width: 1580px) {
        letter-spacing: 0.5px;
      }

      @media (max-width: 768px) {
        font-size: 13px;
        letter-spacing: 0;
      }
    }

    svg {
      position: absolute;
      left: 5px;
      bottom: 23px;

      @media (max-width: 768px) {
        left: 2px;
        bottom: 0;
        width: 39px;
      }
    }
  }
  &__span-first {
    background: var(
      --accent-5,
      linear-gradient(146deg, #7673ff 10.4%, #42f4ff 92.38%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__content-line {
    position: relative;

    @media (max-width: 1580px) {
      display: inline-block;
    }
  }

  &__line-top {
    position: absolute;
    right: 23px;
    top: 42px;

    @media (max-width: 768px) {
      top: 95px;
    }

    svg {
      @media (max-width: 768px) {
        width: 290px;
      }
    }
  }

  &__line-bottom {
    position: absolute;
    right: 23px;
    top: 65px;

    @media (max-width: 768px) {
      top: 107px;
    }

    svg {
      @media (max-width: 768px) {
        width: 290px;
      }
    }
  }
  &__line-text {
    position: absolute;
    right: -5px;
    top: -36px;

    @media (max-width: 768px) {
      right: -3px;
      top: 58px;
    }

    img {
      @media (max-width: 768px) {
        width: 8px;
        right: -3px;
        top: 58px;
      }
    }
  }

  &__button {
    width: 230px;

    @media (max-width: 768px) {
      width: 183px;
      text-align: center;
      margin: 0 auto;
    }

    a {
      border: 3px solid var(--accent-5, #7673ff);
      font-size: 27px;

      @media (max-width: 768px) {
        font-size: 15px;
        padding: 8px 0px;
        width: 180px;
      }
    }

    svg {
      @media (max-width: 768px) {
        width: 13px;
      }
    }
  }
}
