.partner {
  @media (max-width: 376px) {
    margin-bottom: 22px;
  }

  // .partner__container

  &__container {
  }

  &__wrapper {
    display: none;

    @media (max-width: 768px) {
      display: flex;
    }
  }
}

.partners {
  &__icon {
    @media (max-width: 376px) {
      height: 65px;
    }

    img {
      @media (max-width: 376px) {
        height: 100%;
      }
    }
  }

  &__swiper-slide {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 90px;
    text-align: center;
    img {
      max-width: 100%;
      height: 100%;
    }

    @media (max-width: 500px) {
      width: 160px;
      height: 70px;
    }
    @media (max-width: 374px) {
      width: 140px;
      height: 65px;
    }
  }
}
