.partner {
  @media (max-width: 376px) {
    margin-bottom: 4px;
  }

  // .partner__container

  &__container {
  }

  &__wrapper {
    display: none;

    @media (max-width: 376px) {
      display: flex;
    }
  }
}

.partners {
  &__icon {
    @media (max-width: 376px) {
      height: 65px;
    }

    img {
      @media (max-width: 376px) {
        height: 100%;
      }
    }
  }

  &__swiper-slide {
    img {
        @media(max-width: 1700px) {
            width: 100%;
        }
    }
  }
}
