.part {
  @media (max-width: 376px) {
    margin-bottom: 0;
  }

  // .part__container

  &__container {
    max-width: 1920px;
  }

  &__wrapper {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
