.team {
  margin-top: 152px;
  margin-bottom: 64px;

  @media (max-width: 768px) {
    margin-top: 163px;
  }
  // .team__container

  &__container {
    max-width: 1335px;
    position: relative;

    @media (max-width: 376px) {
      padding-left: 17px;
      padding-right: 47px;
    }
  }

  // .team__title

  &__title {
    text-align: center;
    padding-bottom: 56px;
    @media (max-width: 768px) {
      padding-bottom: 28px;
    }
    @media (max-width: 376px) {
      padding-left: 28px;
    }
    h3 {
      font-family: ChakraPetch;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;

      @media (max-width: 768px) {
        font-size: 30px;
      }
    }
  }

  // .team__card-wrapper

  &__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 23px;
    row-gap: 38px;
    justify-content: center;
  }

  // .team__card

  &__card {
    max-width: 280px;
    border-radius: 10px;
    border: 1px solid var(--accent-2, #54d6ff);
    background: #0D0D0D;

    @media (max-width: 768px) {
      width: 130px;
      height: 199px;
      border-radius: 5px;
    }

    @media(max-width: 370px) {
      margin: 0 auto;
    }
  }

  // .team__card-photo

  &__card-photo {
    img {
      border-radius: 10px;

      @media (max-width: 768px) {
        width: 100%;
        border-radius: 5px;
      }
    }
  }

  // .team__card-name

  &__card-name {
    text-align: center;
    padding-top: 22px;
    @media (max-width: 768px) {
      padding-top: 10px;
    }
    p {
      font-size: 23px;
      font-style: normal;
      font-weight: 600;

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }

  // .team__card-position

  &__card-position {
    text-align: center;
    padding-top: 16px;
    @media (max-width: 768px) {
      padding-top: 7px;
    }
    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      color: var(--main-text-2, #959595);

      @media (max-width: 768px) {
        font-size: 9px;
      }
    }
  }

  // .team__card-icons

  &__card-icons {
    display: flex;
    gap: 20px;
    padding-top: 38px;
    padding-left: 50px;
    padding-bottom: 18px;

    @media (max-width: 768px) {
      padding-left: 0px;
      justify-content: center;
      gap: 15px;
      padding-top: 10px;
    }
    a {
      &::before {
        font-size: 19px;

        @media (max-width: 768px) {
          font-size: 9px;
        }
      }
    }
  }

  // .team__card-icon

  &__card-icon {
  }

  &__button {
    width: 146px;
    display: flex;
    margin: 0 auto;
    padding-top: 76px;

    a {
      border: 3px solid var(--accent-3, #ff6c56);
      font-size: 22px;
      font-weight: 600;
      font-style: normal;
      padding: 17px;
    }
  }

  &__swiper-prev {
    position: absolute;
    top: 136px;
    left: 16px;
  }
  &__swiper-next {
    position: absolute;
    top: 135px;
    right: 17px;
  }
}
.team-desktop {
  position: relative;
  @media (max-width: 768px) {
    display: none;
  }

  &__bluer-right {
    position: absolute;
    right: -935px;
    top: -41%;
    z-index: -1;
  }

  &__bluer-left {
    position: absolute;
    width: 585px;
    height: 585px;
    border-radius: 585px;
    background: linear-gradient(180deg, #8201af 65.71%, #0008cc 100%);
    filter: blur(250px);
    left: -567px;
    z-index: -1;
    top: -97px;
  }
}

.team-mobile {
  display: none;
  @media (max-width: 768px) {
    display: block;
    padding-left: 35px;
  }

  &__bluer-top {
    position: absolute;
    top: -119px;
    left: -121px;
    z-index: -1;
  }

  &__bluer-bottom {
    position: absolute;
    top: 67px;
    right: -139px;
  }
}
