<div class="contacts__wrapper">
    <div class="contacts__form">
        <form class="contacts__form-wrapper">
            <div class="contacts__form-group">
                <span>Name</span>
                <input type="text" id="username" class="form-input" required>
            </div>
            <div class="contacts__form-group">
                <span>Mail</span>
                <input type="email" id="email" class="form-input" required>
            </div>
            <div class="contacts__form-group">
                <span>Your message</span>
                <input type="text" id="text" class="form-input" required>
            </div>
            <div class="contacts__button-wrapper">
                <button type="submit" class="button-third contacts__button">Send</button>
            </div>
        </form>
    </div>
</div>
