<div class="contacts__wrapper">
    <div class="contacts__form">
        <form action="#">
            <label for="name">Name</label>
            <input type="text" name="name" required>
            
            <label for="email">Mail</label>
            <input type="email" name="email" required>
            
            <label for="message">Your Message</label>
            <textarea id="message" name="message" required></textarea>
            
            <div class="contacts__button-wrapper">
                <button type="submit" class="button-third contacts__button">Send</button>
            </div>
            
        </form>
    </div>
</div>