<div class="contacts__wrapper">
    <div class="contacts__title">
        <h4>
            Contact Us
        </h4>
    </div>
    <img src="./images/main/contacts/coinLeft.png" class="contacts__coin-left" alt="coin">
    <div class="contacts__form">
        <form action="#">
            <label for="name">Name</label>
            <input type="text" name="name" required>
            
            <label for="email">Mail</label>
            <input type="email" name="email" required>
            
            <label for="message">Your Message</label>
            <textarea id="message" name="message" required></textarea>
            
            <div class="contacts__button-wrapper">
                <button type="submit" class="button-third contacts__button">Send</button>
            </div>
            
        </form>
    </div>
    <img src="./images/main/contacts/coinRight.png" class="contacts__coin-right" alt="coin">
</div>