
<!-- Slider main container -->
<div class="swiper partners__swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <div class="partners__swiper-slide">
            <img src="./images/main/partners/1inch.png" loading="lazy" alt="1inch">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="partners__swiper-slide">
            <img src="./images/main/partners/coingecko.png" loading="lazy" alt="coingecko">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="partners__swiper-slide">
            <img src="./images/main/partners/coinmarketcap.png" loading="lazy" alt="coinmarketcap">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="partners__swiper-slide">
            <img src="./images/main/partners/trustwallet.png" loading="lazy" alt="trustwallet">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="partners__swiper-slide">
            <img src="./images/main/partners/metamask.png" loading="lazy" alt="metamask">
        </div>
      </div>
      <div class="swiper-slide">
        <div class="partners__swiper-slide">
            <img src="./images/main/partners/bsc.png" loading="lazy" alt="metamask">
        </div>
      </div>
    </div>
  </div>