<marquee>
    <div class="partners__icon">
        <img src="./images/main/partners/1inch.png" alt="1inch">
        <img src="./images/main/partners/coingecko.png" alt="coingecko">
        <img src="./images/main/partners/coinmarketcap.png" alt="coinmarketcap">
        <img src="./images/main/partners/trustwallet.png" alt="trustwallet">
        <img src="./images/main/partners/metamask.png" alt="metamask">
        <img src="../../images/main/partners/bsc.png" alt="metamask">
    </div>
</marquee>