.footer {
  margin-top: 158px;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    margin-top: 0;
  }

  &__container {
    max-width: 1707px;
    padding: 0 225px 0 15px;

    @media (max-width: 1500px) {
      padding: 0 15px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 54px;
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 45px;
  }

  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__bottom-text {
    max-width: 978px;
    padding-top: 15px;
    p {
      color: var(--main-text-2, #959595);
      font-size: 17px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__coin {
    position: absolute;
    top: -84px;
    right: -234px;
  }

  &__desktop {
    @media (max-width: 1500px) {
      display: none;
    }
  }
}

.mobile {

  &__footer {
    position: relative;
    display: none;

    @media(max-width: 1500px) {
      display: block;
    }

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      top: -16px;
      border: 1px solid white;
    }

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      bottom: 0;
      border: 1px solid white;
    }
  }
  &__footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;
    padding-bottom: 16px;
  }

  &__footer-logo {
    text-align: center;
  }

  &__footer-list {
    display: flex;
    gap: 14px;
    position: relative;
    align-items: center;
    &::after {
      content: "";
      border: 1px solid #fff;
      height: 46px;

      @media (max-width: 1125px) {
        display: none;
      }
    }

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      margin-top: 18px;
    }

    li {
      a {
        font-size: 18px;
      }
    }
  }

  &__footer-text {
    margin: 0 auto;
    max-width: 287px;
    padding-bottom: 10px;
    
    p {
      color: var(--main-text-2, #959595);
      font-size: 9px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-align: center;
    }
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
    gap: 28px;
    padding-bottom: 20px;
    padding-right: 9px;
  }
  &__button-left {
    a {
      padding: 12px 13px;
      font-size: 16px;
    }
  }
  &__button-right {
    a {
      padding: 9px 13px;

      span {
        font-size: 16px;
      }
    }
  }
}
