.road {
  margin-bottom: 0;

  @media (max-width: 1530px) {
    margin-bottom: 191px;
  }

  @media (max-width: 1584px) {
    margin-bottom: 393px;
  }
  @media (max-width: 768px) {
    margin-bottom: 290px;
  }

  @media (max-width: 473px) {
    margin-bottom: 227px;
  }
  // .road__container

  &__container {
  }

  // .road__title

  &__title {
    text-align: center;
    padding-bottom: 33px;
    h3 {
      font-family: ChakraPetch;
      font-size: 61px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 6.71px;

      @media (max-width: 520px) {
        font-size: 30px;
        letter-spacing: 3.3px;
      }
    }
  }

  // .road__text

  &__text {
    max-width: 1113px;
    margin: 0 auto;
    padding-bottom: 98px;
    @media (max-width: 520px) {
      padding-bottom: 24px;
    }
    p {
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: 38.75px;
      text-align: center;

      @media (max-width: 520px) {
        display: none;
      }
    }
  }

  // .road__step

  &__step {
    padding-top: 59px;
    position: absolute;
    right: 43%;

    img {
      width: 197px;
      height: 1949.5px;
    }
  }

  &__step-title {
    padding-bottom: 8px;
    h5 {
      font-family: ChakraPetch;
      font-size: 37px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 4.07px;
    }
  }

  &__step-text {
    padding-left: 4px;
    p {
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
    }
  }

  &__step-step {
    p {
      font-family: ChakraPetch;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 3.3px;
    }
  }

  // .road__step1

  &__step-desktop {
    position: relative;
    @media (max-width: 1584px) {
      display: none;
    }
  }

  &__step1 {
    position: relative;
    left: 878px;
    bottom: 6px;

    img {
      width: 657.221px;
      height: 406px;
    }
  }

  &__step1-wrapper {
    position: absolute;
    top: 39px;
    left: 72px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__step1-step {
    position: absolute;
    left: -285px;
    top: 35px;
  }

  // .road__step2

  &__step2 {
    position: relative;
    bottom: 58px;

    img {
      width: 657.221px;
      height: 406px;
    }
  }

  &__step2-wrapper {
    position: absolute;
    top: 41px;
    left: 53px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__step2-text {
    p {
      font-size: 22px;
    }
  }

  &__step2-step {
    position: absolute;
    left: 694px;
    width: 128px;
    top: 34px;
  }

  // .road__step3

  &__step3 {
    position: relative;
    left: 875px;
    bottom: 137px;

    img {
      width: 657.221px;
      height: 406px;
    }
  }

  &__step3-wrapper {
    position: absolute;
    top: 41px;
    left: 77px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__step3-step {
    position: absolute;
    right: 533px;
    width: 120px;
    top: 37px;
  }

  // .road__step4

  &__step4 {
    position: relative;
    bottom: 184px;

    img {
      width: 657.221px;
      height: 406px;
    }
  }

  &__step4-wrapper {
    position: absolute;
    top: 38px;
    left: 56px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__step4-step {
    position: absolute;
    left: 693px;
    width: 120px;
    top: 37px;
  }

  // .road__step5

  &__step5 {
    position: relative;
    left: 875px;
    bottom: 239px;

    img {
      width: 657.221px;
      height: 523px;
    }
  }

  &__step5-wrapper {
    position: absolute;
    top: 38px;
    left: 77px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__step5-step {
    position: absolute;
    right: 650px;
    width: 120px;
    top: 37px;
  }

  // .road__step6

  &__step6 {
    position: relative;
    bottom: 257px;

    img {
      width: 657.221px;
      height: 406px;
    }
  }

  &__step6-wrapper {
    position: absolute;
    top: 39px;
    left: 53px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__step6-text {
    p {
      font-size: 22px;
    }
  }

  &__step6-step {
    position: absolute;
    left: 801px;
    width: 120px;
    top: 25px;
  }

  &__step-mobile {
    display: none;
    @media (max-width: 1584px) {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__mobile-title {
    h5 {
      font-family: ChakraPetch;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.65px;
    }
  }

  &__mobile-text {
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__mobile-step {
    p {
      font-family: ChakraPetch;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 1.54px;
    }
  }

  &__mobile-stepImg {
    position: relative;
    @media (max-width: 520px) {
      left: 7px;
    }
    img {
      position: absolute;

      @media (max-width: 1584px) {
        right: 105px;
      }

      @media (max-width: 473px) {
        right: 130px;
      }
      @media (max-width: 370px) {
        width: 39px;
        right: 126px;
      }
    }
  }

  &__mobile1 {
    position: relative;
    left: 64px;
    bottom: 19px;
    width: 266px;
    height: 155px;
    background: #0d0d0d;
    border-radius: 10px;

    img {
      position: absolute;
      right: -5px;
      bottom: -6px;
      @media (max-width: 370px) {
        width: 270px;
        bottom: -3px;
      }
    }

    @media (max-width: 473px) {
      left: 37px;
      bottom: 17px;
    }

    @media (max-width: 370px) {
      width: 251px;
      height: 152px;
      left: 18px;
    }
  }

  &__mobile-wrapper {
    display: flex;
    flex-direction: column;
    gap: 17px;

    @media (max-width: 370px) {
      gap: 16px;
    }
  }

  &__mobile1-wrapper {
    position: absolute;
    top: 16px;
    left: 25px;

    @media (max-width: 473px) {
      top: 15px;
      left: 12px;
    }
    @media (max-width: 370px) {
      top: 10px;
    }
  }

  &__mobile1-step {
    position: absolute;
    transform: rotate(-90deg);
    left: -73px;
    top: 65px;

    @media (max-width: 350px) {
      left: -62px;
    }
  }

  &__mobile2 {
    position: relative;
    left: 64px;
    top: 17px;
    width: 266px;
    height: 155px;
    background: #0d0d0d;
    border-radius: 10px;

    img {
      position: absolute;
      right: -6px;
      bottom: -5px;
      @media (max-width: 370px) {
        width: 270px;
        bottom: -3px;
      }
    }

    @media (max-width: 473px) {
      left: 37px;
      top: 24px;
    }
    @media (max-width: 370px) {
      left: 13px;
    }
    @media (max-width: 370px) {
      width: 251px;
      height: 150px;
      left: 18px;
    }
  }

  &__mobile2-text {
    p {
      font-size: 10px;

      @media (max-width: 1584px) {
        font-size: 9px;
      }
    }
  }

  &__mobile2-wrapper {
    position: absolute;
    top: 16px;
    left: 25px;
    @media (max-width: 473px) {
      top: 15px;
      left: 12px;
    }
    @media (max-width: 370px) {
      top: 10px;
    }
  }

  &__mobile2-step {
    position: absolute;
    transform: rotate(-90deg);
    left: -74px;
    top: 63px;
    @media (max-width: 350px) {
      left: -62px;
    }
  }

  &__mobile3 {
    position: relative;
    left: 64px;
    top: 51px;
    width: 266px;
    height: 155px;
    background: #0d0d0d;
    border-radius: 10px;

    img {
      position: absolute;
      right: -6px;
      bottom: -5px;
      @media (max-width: 370px) {
        width: 270px;
        bottom: -3px;
      }
    }

    @media (max-width: 473px) {
      left: 38px;
      top: 66px;
    }
    @media (max-width: 370px) {
      left: 13px;
    }
    @media (max-width: 370px) {
      width: 251px;
      height: 150px;
      left: 18px;
    }
  }

  &__mobile3-wrapper {
    position: absolute;
    top: 16px;
    left: 25px;
    @media (max-width: 473px) {
      top: 13px;
      left: 11px;
    }
    @media (max-width: 370px) {
      top: 10px;
    }
  }

  &__mobile3-step {
    position: absolute;
    transform: rotate(-90deg);
    left: -76px;
    top: 60px;
    @media (max-width: 350px) {
      left: -62px;
    }
  }

  &__mobile4 {
    position: relative;
    left: 64px;
    top: 84px;
    width: 266px;
    height: 155px;
    background: #0d0d0d;
    border-radius: 10px;

    img {
      position: absolute;
      right: -5px;
      bottom: -6px;
      @media (max-width: 370px) {
        width: 270px;
        bottom: -3px;
      }
    }

    @media (max-width: 473px) {
      left: 38px;
      top: 105px;
    }
    @media (max-width: 370px) {
      left: 13px;
    }
    @media (max-width: 370px) {
      width: 251px;
      height: 150px;
      left: 18px;
    }
  }

  &__mobile4-wrapper {
    position: absolute;
    top: 16px;
    left: 25px;
    @media (max-width: 473px) {
      top: 12px;
      left: 10px;
    }
    @media (max-width: 370px) {
      top: 10px;
    }
  }

  &__mobile4-step {
    position: absolute;
    transform: rotate(-90deg);
    left: -74px;
    top: 60px;
    @media (max-width: 350px) {
      left: -62px;
    }
  }

  &__mobile5 {
    position: relative;
    left: 64px;
    top: 119px;
    width: 266px;
    height: 198px;
    background: #0d0d0d;
    border-radius: 10px;

    img {
      position: absolute;
      right: -5px;
      bottom: -6px;
      @media (max-width: 370px) {
        width: 270px;
        bottom: -3px;
      }
    }

    @media (max-width: 473px) {
      left: 37px;
      top: 145px;
    }
    @media (max-width: 370px) {
      left: 13px;
    }
    @media (max-width: 370px) {
      width: 251px;
      height: 193px;
      left: 18px;
    }
  }

  &__mobile5-wrapper {
    position: absolute;
    top: 16px;
    left: 25px;
    gap: 15px;
    @media (max-width: 473px) {
      top: 12px;
      left: 11px;
    }
    @media (max-width: 370px) {
      top: 10px;
    }
  }

  &__mobile5-step {
    position: absolute;
    transform: rotate(-90deg);
    left: -74px;
    top: 63px;
    @media (max-width: 350px) {
      left: -62px;
    }
  }

  &__mobile6 {
    position: relative;
    left: 64px;
    top: 154px;
    width: 266px;
    height: 155px;
    background: #0d0d0d;
    border-radius: 10px;

    img {
      position: absolute;
      right: -4px;
      bottom: -5px;
      @media (max-width: 370px) {
        width: 270px;
        bottom: -3px;
      }
    }

    @media (max-width: 473px) {
      left: 39px;
      top: 187px;
    }
    @media (max-width: 370px) {
      left: 13px;
    }
    @media (max-width: 370px) {
      width: 251px;
      height: 150px;
      left: 18px;
    }
  }

  &__mobile6-wrapper {
    position: absolute;
    top: 16px;
    left: 25px;
    @media (max-width: 473px) {
      left: 11px;
      top: 13px;
    }
    @media (max-width: 370px) {
      top: 10px;
    }
  }

  &__mobile6-step {
    position: absolute;
    left: -104px;
    top: 77px;

    @media (max-width: 473px) {
      left: -86px;
      top: 54px;
    }

    @media (max-width: 374px) {
      transform: rotate(-90deg);
      left: -72px;
      top: 65px;
    }
  }
}

.road-desktop {
  &__bluer-top {
    position: absolute;
    right: -48%;
    top: -40%;
  }

  &__bluer-center {
    position: absolute;
    top: -6%;
    left: -62%;
  }

  &__bluer-bottom {
    position: absolute;
    top: 44%;
    left: 50%;
  }
}

.road-mobile {
  &__bluer-top {
    position: absolute;
    top: 0%;
    left: 53%;
  }

  &__bluer-center {
    position: absolute;
    top: 44%;
    left: 23%;
  }

  &__bluer-bottom {
    position: absolute;
    top: 75%;
    left: 31%;
  }
}
