.asked {
  margin-top: -112px;

  @media (max-width: 376px) {
    margin-top: 82px;
  }
  // .freq__container

  &__container {
    max-width: 1682px;
    padding: 0 80px 0 15px;
    position: relative;

    @media(max-width: 1350px) {
      padding: 0 15px 0 15px;
    }

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  &__bluer {
    position: absolute;
    right: -27%;
    top: 9%;
    pointer-events: none;
    z-index: -1;

    @media(max-width: 1350px) {
      display: none;
    }
  }

  // .freq__wrapper

  &__wrapper {
    display: flex;
    gap: 8px;

    @media (max-width: 1350px) {
      flex-direction: column;
    }
  }

  // .freq__left

  &__left {
  }

  // .freq__left-title

  &__left-title {
    text-align: center;
    height: 143px;
    padding-left: 57px;

    @media (max-width: 768px) {
      padding-left: 0;
      height: 79px;
    }
    h4 {
      font-family: ChakraPetch;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.2px;
      background: var(
        --accent-4,
        linear-gradient(149deg, #b2ff0f 10.47%, #76ffef 88.29%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media (max-width: 768px) {
        font-size: 30px;
        letter-spacing: 0.6px;
      }
    }
  }

  // .freq__left-img

  &__left-img {
    @media (max-width: 1350px) {
      text-align: center;
    }
    img {
      @media (max-width: 768px) {
        width: 100%;
      }
      @media (max-width: 376px) {
        height: 230px;
      }
    }
  }

  // .freq__right

  &__right {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 28px;

    @media(max-width: 768px) {
      padding: 16px;
    }

    @media (max-width: 376px) {
      padding: 0 35px;
      gap: 8px;
    }
  }

  // .freq__inner-ul

  &__inner-ul {
    border: 1px solid wheat;
    padding: 30px 28px 31px 20px;
    border-radius: 10px;
    border: 1px solid var(--accent-4, #b2ff0f);
    background: var(--main-black, #0d0d0d);
    box-shadow: 2px 2px 20px 0px rgba(85, 255, 57, 0.5);

    @media(min-width: 998px) {
      &:hover {
        cursor: pointer;
      }
    }

    @media (max-width: 376px) {
      padding: 15px 15px 6px 13px;
    }

    ul {
      display: flex;
      flex-direction: column;
      padding-top: 6px;
      gap: 9px;
      opacity: 0;
      overflow: hidden;
      max-height: 0;
      visibility: hidden;
      height: 0;
      transition: all 0.4s;
      &.active {
        opacity: 1;
        overflow: visible;
        max-height: 500px;
        visibility: visible;
        height: 100%;
      }
      p {
        color: var(--main-text-2, #959595);
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 34.2px;
        @media (max-width: 900px) {
          font-size: 12px;
          line-height: 12.2px;
        }
      }
    }

    h5 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      gap: 10px;

      @media (max-width: 768px) {
        font-size: 14px;
      }

      svg {
        @media (max-width: 376px) {
          width: 18px;
        }
      }
    }
  }
}
