.fin {
  margin-top: 93px;
  margin-bottom: 175px;

  @media (max-width: 998px) {
    margin-bottom: 68px;
    margin-top: 133px;
  }
  // .token__container

  &__container {
  }

  // .token__title

  &__title {
    padding-top: 23px;
    padding-bottom: 14px;
    padding-left: 5px;
    max-width: 526px;
    display: flex;

    @media (max-width: 769px) {
      max-width: 100%;
    }

    @media (max-width: 768px) {
      padding-top: 189px;
    }
    h1 {
      font-family: ChakraPetch;
      font-size: 120px;
      font-style: normal;
      font-weight: 600;
      background: var(
        --accent-4,
        linear-gradient(149deg, #b2ff0f 10.47%, #76ffef 88.29%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (max-width: 768px) {
        font-size: 60px;
        line-height: 70px;
      }
    }
  }

  // .token__title-top

  &__title-top {
    @media (max-width: 769px) {
      margin: 0 auto;
    }
    @media (max-width: 768px) {
      padding-left: 58px;
    }
    span {
      padding-left: 187px;
      @media (max-width: 768px) {
        padding-left: 75px;
      }
    }
  }

  // .token__title-bottom

  &__title-bottom {
  }

  // .token__text

  &__text {
    max-width: 465px;
    padding-bottom: 42px;
    @media (max-width: 769px) {
      max-width: 100%;
      text-align: center;
      padding-left: 0;
      margin: 0 auto;
    }
    @media (max-width: 520px) {
      max-width: 324px;
      padding-bottom: 28px;
    }
    p {
      font-family: ChakraPetch;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;

      @media (max-width: 768px) {
        font-size: 18px;
        text-align: center;
        line-height: normal;
      }
    }
  }

  // .token__button

  &__button {
    a {
      border: 2px solid var(--accent-4, #b2ff0f);
      padding: 18px;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      width: 262px;
      @media (max-width: 768px) {
        margin: 0 auto;
        font-size: 20px;
        padding: 19px 30px;
        width: 226px;
      }
    }
  }

  // .token__bg

  &__bg {
    img {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 706px;
      object-fit: cover;
      z-index: -1;

      @media (max-width: 768px) {
        height: 388px;
        left: 0px;
        top: -10px;
      }
    }
  }
}
